body{background-color: #bbd1e1;}
h1{font-family: Verdana; font-size: 40px; color: blue;}
p{font-family: Garamond; font-size: 20px; color: #293374;}
img{border-width: 3px; border-style: double; border-color: #98644b;}
a{font-family: Garamond; color: #dfa1e1; font-size: 20px; text-decoration: none;}
a:hover{color: green;}
ol{list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: blue;}
ul{list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: violet;}
